Source: nxsite
Section: httpd
Priority: optional
Maintainer: Alexander Tarkhov <agtuks@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/tarkhov/nxsite
#Vcs-Git: git://anonscm.debian.org/collab-maint/nxsite.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nxsite.git

Package: nxsite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nginx site creation and removing tools
 Ngxinx HTTP Server site creation and removing tools using command line.
