Source: nxsite
Section: httpd
Priority: optional
Maintainer: Alexander Tarkhov <agtuks@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/tarkhov/nxsite
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/nxsite.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nxsite.git

Package: nxsite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nginx site management tools
 Nginx HTTP Server site management tools using CLI.
